 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
 html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 b,
 u,
 i,
 center,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 embed,
 figure,
 figcaption,
 footer,
 header,
 hgroup,
 menu,
 nav,
 output,
 ruby,
 section,
 summary,
 time,
 mark,
 audio,
 video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
     display: block;
 }
 
 body {
     line-height: 1;
 }
 
 ol,
 ul {
     list-style: none;
 }
 
 blockquote,
 q {
     quotes: none;
 }
 
 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
     content: '';
     content: none;
 }
 
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 /* -------------------------------css reset ends here--------------------------------------  */
 
 .box {
     display: inline-block;
     width: 450px;
     height: 200px;
     background: rgb(254, 83, 73);
     margin: 1% 0 0 1%;
     padding: 15px;
     color: white;
     font-size: 20px;
 }
 
 .box-2 {
     display: inline-block;
     width: 200px;
     height: 200px;
     background: rgb(12, 136, 113);
 }
 
 .box-3 {
     display: inline-block;
     width: 200px;
     height: 200px;
     background: rgb(182, 1, 255);
 }
 
 .box-4 {
     display: inline-block;
     width: 200px;
     height: 200px;
     background: rgb(13, 193, 253);
 }
 
 .box-5 {
     display: inline-block;
     width: 450px;
     height: 200px;
     background: rgb(8, 202, 128);
 }
 
 .box-6 {
     display: inline-block;
     width: 200px;
     height: 200px;
     background: rgb(1, 243, 97);
 }
 
 .box-7 {
     display: inline-block;
     width: 200px;
     height: 200px;
     background: rgb(232, 255, 29);
 }
 
 .box-8 {
     display: inline-block;
     width: 200px;
     height: 200px;
     background: rgb(254, 116, 5);
 }
 
 .box-9 {
     display: inline-block;
     width: 450px;
     height: 200px;
     background: rgb(229, 47, 45);
 }